
a {
    color: rgb(8, 105, 185);
    text-decoration: none;
    font-size: 135%;
  }
a:hover {
    text-decoration: none;
    font-size: 150%;
  }
a:visited {
    color: rgb(49, 110, 160);
  }
a:visited:hover {
    text-decoration: none;
  }